body
  font-family: 'Open Sans', 'Roboto', 'Arial', sans-serif
  font-size: 16px
  background-color: #ffffff
  color: $black
  cursor: default

ul
  margin: 0
  padding: 0
  list-style: none

h1,h2,h3,h4,h5,h6,p
  margin: 0
  padding: 0

a
  position: relative
  color: $accent
  text-decoration: none
  outline: none
  &::after
    content: ''
    position: absolute
    bottom: -2px
    display: block
    width: 0%
    height: 1px
    background-color: darken($accent, 10%)
    transition: 0.2s ease 0s
  +hover
    color: darken($accent, 10%)
    &::after
      width: 100%
  &.no-hover
    &::after
      display: none

picture
      display: inline-block

.container
  max-width: 1170px
  width: 100%
  margin: 0 auto
  padding: 0 15px

.page
  overflow: hidden
  &__divider
    height: 1px
    background-color: #e5eaf4
    border: none
    margin: 0
    padding: 0
    &--reviews-stories
      margin-top: 67px
      margin-bottom: 130px

.overflow
  &--hidden
    overflow: hidden
  &--y-auto
    overflow-y: auto

.title
  font-weight: 700
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
  +font-hk-b

.button
  padding: 0.9em 1.4em
  border: 2px solid transparent
  border-radius: 8px
  background-color: $black
  font-weight: 700
  font-size: 16px
  line-height: 1
  color: #ffffff
  cursor: pointer
  transition: 0.2s ease 0s
  outline: none
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  max-width: 250px
  +hover
    background-color: lighten($black, 7%)
    border: 2px solid lighten($black, 7%)
  &--o
    background-color: transparent
    color: $accent
    border: 2px solid $accent
    transition: 0.2s ease 0s
    +hover
      color: #ffffff
      background-color: $accent
      border: 2px solid transparent
  &--link
    display: inline-block
    text-align: center
    +hover
      color: #ffffff
  &--wide
    min-width: 260px

.logo
  display: inline-block
  +trs(transform)
  +hover
    transform: scale(1.2)

.badges
  display: flex
  align-items: center
.badge
  margin-right: 12px
  padding: 6px 16px
  border-radius: 100px
  font-weight: 600
  font-size: 14px
  line-height: 20px
  color: #36b37e
  background-color: rgba(#36b37e, 0.1)
  &:last-child
    margin-right: 0

.form
  &-error
    border: 1px solid tomato !important
    color: red !important
    &-message
      margin-top: 5px !important
      color: tomato !important
      font-size: 14px !important

.scroll-up
  position: fixed
  z-index: 999
  right: 50px
  bottom: 50px
  padding: 0
  border: none
  border-radius: 50%
  background-color: transparent
  cursor: pointer
  outline: none
  visibility: hidden
  opacity: 0
  transform: translateY(25px)
  transition: 0.2s ease-in-out
  mix-blend-mode: difference
  &--active
    visibility: visible
    opacity: 1
    transform: translateY(0)
  svg
    width: 50px
    height: 50px
    outline: none
    fill: $secondary
    +trs(fill)
  +hover
    svg
      fill: #ea9a27

@media screen and ( max-width: 1200px )
  .container
    max-width: 990px
@media screen and ( max-width: 992px )
  .page__divider--reviews-stories
    margin-bottom: 89px
@media screen and ( max-width: 768px )
  .container
    max-width: 90%
@media screen and ( max-width: 576px )
  .container
    max-width: 95%
  .page__divider--reviews-stories
    margin-top: 51px
    margin-bottom: 57px
  .badges
    justify-content: center
  .title
    font-size: 28px
    line-height: 36px
  .button
    &--wide
      min-width: 100%
