body
  font-family: 'Open Sans', 'Roboto', 'Arial', sans-serif
  font-size: 16px
  background-color: #ffffff
  color: $black
  cursor: default

ul
  margin: 0
  padding: 0
  list-style: none

h1,h2,h3,h4,h5,h6,p
  margin: 0
  padding: 0

a
  position: relative
  color: $accent
  text-decoration: none
  &::after
    content: ''
    position: absolute
    bottom: -2px
    display: block
    width: 0%
    height: 1px
    background-color: darken($accent, 10%)
    transition: 0.2s ease 0s
  +hover
    color: darken($accent, 10%)
    &::after
      width: 100%
  &.no-hover
    &::after
      display: none

.container
  max-width: 1170px
  width: 100%
  margin: 0 auto
  padding: 0 15px

.page
  // overflow: hidden
  &__divider
    height: 1px
    background-color: #e5eaf4
    border: none
    margin: 0
    padding: 0
    &--reviews-stories
      margin-top: 67px
      margin-bottom: 130px

.overflow
  &--hidden
    overflow: hidden
  &--y-auto
    overflow-y: auto

.title
  font-weight: 700
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
  +font-hk-b

.button
  padding: 0.9em 1.4em
  border: 2px solid transparent
  border-radius: 8px
  background-color: $black
  font-weight: 700
  font-size: 16px
  line-height: 1
  color: #ffffff
  cursor: pointer
  transition: 0.2s ease 0s
  +hover
    background-color: lighten($black, 7%)
    border: 2px solid lighten($black, 7%)
  &--o
    background-color: transparent
    color: $accent
    border: 2px solid $accent
    transition: 0.2s ease 0s
    +hover
      color: #ffffff
      background-color: $accent
      border: 2px solid transparent

@media screen and ( max-width: 1200px )
  .container
    max-width: 990px
@media screen and ( max-width: 768px )
  .container
    max-width: 90%
  .page__divider--reviews-stories
    margin-bottom: 130px
@media screen and ( max-width: 576px )
  .container
    max-width: 95%
  .page__divider--reviews-stories
    margin-top: 51px
    margin-bottom: 48px
